version: "3.8"
services:
  db:
    image: postgres:15-alpine
    container_name: next-auth-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: nextpassword
      POSTGRES_DB: next-auth-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  app:
    build: .
    container_name: next-app
    env_file:
      - .env
      - .env.local
    ports:
      - "3000:3000"
    environment:
      - AUTH_TRUST_HOST=true
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - db
  
volumes:
  pgdata: